@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';

.fhirContainer {
  padding: 0 1rem 0 1rem;
}

.createIcon {
  padding: 1.0rem;
  margin-right: 60px;
}
