@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.tabBuilder {
  :global(.cds--date-picker.cds--date-picker--single .cds--date-picker__input) {
    width: auto;
  }

  :global(.cds--tab-content) {
    width: 100%;
    padding: 0;
  }

  :global(.cds--inline-loading__text) {
    color: white
  }

  :global(.cds--tab--list) {
    flex-direction: row;
    margin: 1rem;
  }

  :global(.cds--tabs) {
    width: auto;
    max-height: 100%;
  }

  :global(.cds--tabs .cds--tabs__nav-link) {
    border-bottom: 0;
    border-left: 3px solid $ui-03;
  }

  :global(.cds--tabs .cds--tabs__nav-item--selected) {
    border-left: 3px solid var(--brand-03);
    border-bottom: 0;
    font-weight: 600;
  }

  :global(.cds--number) {
    width: 68%;
  }

  :global(.cds--tabs__nav-link) {
    &:active, &:focus {
      outline: 0 !important;
      outline-offset: 0 !important;
    }
  }

  :global(.cds--multi-select__wrapper .cds--list-box__wrapper) {
    width: 90% !important;
  }

  :global(.cds--col) {
    padding-left: 0;
    width: 100%;
  }

  :global(.cds--tab-content:focus) {
    outline: none;
  }
}

.tabContainer {
  background: white;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;

  :global(.cds--tabs:not(.cds--tabs--contained) .cds--tabs__nav-item:not(.cds--tabs__nav-item--selected):not(.cds--tabs__nav-item--disabled):hover) {
    border-bottom: none;
    font-weight: bold;
  }
}





